.destinations-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.destination-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.remove-button {
    position: absolute;
    text-align: end;
    padding: 0 0.5rem;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    font-weight: bold;
    color: black;
    font-size: 1rem;
}
  
.destination-name {
    margin-bottom: 5px;

}
  
.destination-activity {
    font-size: 0.9rem;
}
  